.dice-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.play-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 30px
}

.player-container {
    width: 400px;
    font-size: 52px;
    padding: 10px;
    margin: 0;
    border-right: 8px solid black
}

.button {
    font-size: 42px;
    text-transform: uppercase;
    border: 8px solid black;
    border-radius: 15px;
    background-color: #65c93a;
    padding: 5px 10px;
    transition: filter 0.2 ease;
    text-align: center;

}

.button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.saldo:hover {
    cursor: default;
    filter: brightness(100%);
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

@keyframes firework {
    0% {
        transform: translate(var(--x), var(--initialY));
        width: var(--initialSize);
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: var(--finalSize);
        opacity: 0;
    }
}


.bet:hover {
    transform: scale(1.5);
    animation: ease-in-out 1s infinite;
}

.bet {
    animation: ease-in-out 1s infinite;

}