.dice-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.player-container {
    width: 40%;
    min-width: 250px;
    font-size: 52px;
    padding: 10px;
    margin: 0;
    border-right: 8px solid black
}

.button {
    font-size: 42px;
    text-transform: uppercase;
    border: 8px solid black;
    border-radius: 15px;
    background-color: #65c93a;
    padding: 5px 10px;
    transition: filter 0.2s ease;

}

.button:hover {
    filter: brightness(85%);
    cursor: pointer;
}