html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Satoshi-Black;
  background-color: #fee429;
  opacity: 1;
  background-image: linear-gradient(#000000 6px, transparent 6px), linear-gradient(to right, #000000 6px, #fee429 6px);
  background-size: 80px 80px;
  user-select: none;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}